body {
    background-color: rgb(203, 242, 9);
}
h2 {
    color: white;
    font-size: 50px;
    text-align: center;
}
form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(237, 172, 9);
    padding: 20px 10px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    height: 200px;
}

.form {
    width: 250px;
    height: 150px;
}

input {
    width: 250px;
   justify-content: space-around;
   margin-bottom: 30px;
   padding-left: 20px;
   height: 25px;
   border-radius: 10px;
}

.container {
    padding-top: 10%;
    padding-left: 35%;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: crimson;
}